body{
    font-family: "Lato", sans-serif;
    margin:0;
    width: 100vw;
    height: 4433px;
    background: #19191B;

    }


header{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}

.icon {
    padding-left: 5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

nav {
    height: 1vh;
    width: 100vw;
}

nav >div {
    width: 50vw;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 280px;

}
nav a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.70);
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.button {
    color: #FFF;
    text-align: center;;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 141px;

}
main{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    flex-shrink: 0;
    background: radial-gradient(50% 50% at 50% 50%, #353550 0%, rgba(25, 25, 27, 0.00) 100%);
}
h1{
    width: 582px;
    color: #FFF;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 84px;
}
p{
    width: 536px;
    color: rgba(255, 255, 255, 0.70);
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: -0.657px;
}
.button1 {
    width: 204px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #5454D4;
    color: #FFF;
    text-align:center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 30px;

}

.img{
    width: 656px;
    height: 713px;
    flex-shrink: 0;
    padding-left: 70px;
}
.two{
    display: flex;
    flex-direction: column;
}
h2 {
    width: 695px;
    color: #FFF;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
    text-align: center;
    display: flex;
}
.img2{
    width: 1200px;
    height: 670px;
    flex-shrink: 0;
}
.text{
    display: flex;
    justify-content: space-around;

}
.three{
    display: flex;
    flex-direction: column;
    background: radial-gradient(50% 50% at 50% 50%, #353550 0%, rgba(25, 25, 27, 0.00) 100%);

}
.three>.three1{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;

}
.three1-text{
    width: 100vw;
    color: #FFF;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
    display: flex;
    padding: 0;
}
.three1-text>h2{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding-left: 370px;
    padding-bottom: 0;
}


.cards {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.cards--list {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
}

.cards-item {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    position: relative;


}

.cards-item h3{
    width: 199px;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.75px;
}
.cards-item p{
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.5px;
    width: 299px;
}


.cards-item > h2 {
    font-size: 4vh;
}

.cards-item > p {
    font-size: 2vh;
    text-align: center;
}

.cards-item > img {
    width: 80%;
}

.cards-icon {
    display: flex;
    width: 10vh;
    height: 10vh;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    top: -10%;
    border: 0.6vh solid ;
    border-radius: 100%;
}
.cards-icon > img {
    width: 69px;
    height: 69px;
    flex-shrink: 0;
    fill: rgba(254, 220, 90, 0.10);

}

.three>.three2{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;

}
.four{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    flex-shrink: 0;

}
.text{
    color: #FFF;
    font-size: 58px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: flex;

}
.text h2{
    margin-bottom: 161px;

}
aside{
    display: flex;
    justify-content:space-evenly;

}
aside img{
    width: 336px;
    height: 253px;
    flex-shrink: 0;
    border-radius: 12px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;x;
    margin: 24px;
}
.five{

    display: flex;
}
.button2 {
    display: flex;
    width: 201px;
    color: #FFF;
    text-align: center;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 60px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #5454D4;
    padding-top: 30px;
    padding-left: 80px;


}
footer{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

}
.footer-text{
    width: 285px;
    color: rgba(255, 255, 255, 0.70);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px; /* 237.5% */
    letter-spacing: -0.5px;
}